{% extends 'base.html.twig'%}

{% block title%}
Administrar
{% endblock %}

{% block body%}
<header>
    {{ include('main/_navbar.html.twig')}}
</header>
<main class="flex">
    {{ include('main/_sideAdminBar.html.twig')}}
    <section class="w-full">
        <h1 class="text-4xl text-center my-8">Administrador</h1>
        <article class="mx-5">
            <h2>Tabla de Usuarios</h2>
            {{include('main/_tableUsers.html.twig')}}
        </article>

    </section>
    

</main>
{{ include('main/_footer.html.twig')}}


{% endblock %}