{% extends 'base.html.twig'%}

{% block title%}
Administrar
{% endblock %}

{% block body%}
<header>
    {{ include('main/_navbar.html.twig')}}
</header>
<main class="flex">
    {{ include('main/_sideAdminBar.html.twig')}}
    <section class="">
        <h1 class="text-4xl text-center my-8">Administrador</h1>

    </section>
    

</main>
{{ include('main/_footer.html.twig')}}


{% endblock %}