{% extends 'base.html.twig'%}

{% block title%}
Administrar
{% endblock %}

{% block body%}
<header>
    {{ include('main/_navbar.html.twig')}}
</header>
<main class="my-8">
    <h1 class="text-4xl text-center my-8">Administrador</h1>
    

</main>
{{ include('main/_footer.html.twig')}}


{% endblock %}