{% extends 'base.html.twig'%}
{% block title %} 
Contacto
{% endblock %}
{% block body %}
<header>
    {{ include('main/_navbar.html.twig')}}
</header>
<main>
    {{ include('main/_contactForm.html.twig')}}

    <section>
        {{ include('main/_map.html.twig')}}
    </section>
</main>

{{include('main/_footer.html.twig')}}
{% endblock %}