{% extends 'base.html.twig' %}

{% block title%}
Inicio
{% endblock %}

{% block body%}
<header>
{{ include('main/_navbar.html.twig')}}
</header>
<main>
    {{ include('main/_carrousel.html.twig')}}
    {{ include('main/_categoryCards.html.twig')}}
</main>
{{ include('main/_footer.html.twig')}}



{% endblock %}